<ion-header>
  <ion-navbar>
    <ion-title>
      مسجدی
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>مسجدی ها</ion-list-header>
    <ion-item *ngFor="let p of people">
      <!--      <ion-icon name="ionic" item-start></ion-icon>-->
      <div class="bg-image">
        <hr>
        <ion-thumbnail>
          <img (click)="loadPlayerDetail(p)" src="{{p.img}}" class="round-image" style="height: 150px !important;  width: 150px !important;              background: none !important;     background-color :none !important; display: inline !important;" />
        </ion-thumbnail>
        <!--            </ion-img> -->
        <hr>
        {{p.name}}
        <hr>

        <a href="https://t.me/{{p.uInstagramId}}"><img class="sociallogo" src="{{serverWebApp}}/assets/imgs/telegram.png" /></a>
        <a href="https://instagram.com/{{p.uTelegramlId}}"><img class="sociallogo" src="{{serverWebApp}}/assets/imgs/instagram.png" /></a>
        <a href="{{p.apiUrl}}/www/player.php?id={{p.id}}"><img class="sociallogo" src="{{serverWebApp}}/assets/imgs/website.png" /></a>

        <ion-list (click)="loadPlayerDetail(p)">
          <ion-item class="item2col">
            <ion-row>
              <ion-col width-50>
                جنسیت : {{ p.jens=="1" ? "آقا" : "خانم" }}
              </ion-col>
              <ion-col width-50>
                استان : {{p.province}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-50>
                رشته : {{p.field}}
              </ion-col>
              <ion-col width-50>
                محل تولد : {{p.birthPlace}}
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item class="item2col">
            اطلاعات بیشتر
          </ion-item>
        </ion-list>
        <hr>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>