page-contact {

    img{

    border-radius: 50%;
        border: 3px solid;
        border-color: #F7556D;
    }

    .bg-image {
        background-color: white;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .sociallogo{

        height: 35px;
        width: 35px;

        border: 3px solid;
        border-color: #FF4444;
        border-radius: 50%;
    }

    .item2col{
    text-align: center;
    }
}
 